---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.flatMap((post: any) => post.data.tags))];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="mt-2 flex flex-row">
    {
      tags.sort().map((tag: string) => (
        <p class="me-2 rounded-sm border border-blue-400 bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-gray-700 dark:text-blue-400">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
