---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class="mt-2 mb-2 text-4xl font-bold dark:text-white">
    This is where I will post about my journey learning Astro
  </h2>
  <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
    {
      allPosts.map((post: any) => (
        <BlogPost
          postUrl={post.url}
          postTitle={post.frontmatter.title}
          postDescription={post.frontmatter.description}
        />
      ))
    }
  </div>
</BaseLayout>
