---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("blog");
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class="mt-2 mb-2 text-4xl font-bold dark:text-white">
    This is where I will post about my journey learning Astro
  </h2>
  <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
    {
      allPosts.map((post: any) => (
        <BlogPost
          postUrl={`/posts/${post.id}`}
          postTitle={post.data.title}
          postDescription={post.data.description}
        />
      ))
    }
  </div>
</BaseLayout>
